# TODO: remove --disable-sandbox. This is workaround for a missing /var/empty directory
# TODO(b/325851928): Remove the raw crosvm binary call with AVF APIs once the early-boot solution
# is in place.
service trusty_vm_system.nonsecure /apex/com.android.virt/bin/crosvm --syslog-tag="trusty-vm" \
        run /system_ext/etc/hw/lk_trusty.elf \
        --disable-sandbox --vsock ${trusty_vm_system.vm_cid} \
        --serial type=syslog --mem size=128
    disabled
    user system
    group system

# Starts the non-secure Trusty VM in /system_ext when the feature is enabled through
# the system property set in vendor init.
on init && property:ro.hardware.security.trusty_vm.system=1
    setprop trusty_vm_system_nonsecure.ready 1
    setprop trusty_vm_system.vm_cid 5566
    start trusty_vm_system.nonsecure
